[Unit]
Description=Puma HTTP Server
After=network.target


[Service]
Type=notify
WatchdogSec=10
User=ec2-user

WorkingDirectory=/home/ec2-user/RealWorld/

ExecStart=/home/ec2-user/.rbenv/shims/puma -C config/puma.rb

Restart=always

[Install]
WantedBy=multi-user.target
